* {
    font-family: verdana, arial, helvetica, sans-serif;
}

input,
.select,
.textarea,
.text {
    font-size: 13px;
    font-weight: normal;
}

select {
    border-radius: 0px;
    height: 24px;
    line-height: 24px;
    margin: 0px;
}

.button {
    background-color: #624792;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 150%;
    margin: 3px;
    padding: 3px 4px 1px;
    text-align: center;
    text-decoration: none;
}

a.button {
    border: 1px outset threedface;
    padding: 4px 7px 2px;
}

.checkbox,
.radio {
    margin-right: 3px;
}

a {
    color: #000000;
    text-decoration: none;
}

.quotetext {
    margin: 5px 10px 0 20px;
    padding: 3px;
}

.quote {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    margin: 0 10px 0 20px;
    padding: 3px;
}

.code {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    font-family: monospace;
    margin: 0 10px 0 20px;
    overflow: scroll;
    padding: 3px;
    white-space: pre-wrap;
}

span.spoiler {
    background: #EEEEEE url('images/spoiler.png');
    border: 1px solid #CCCCCC;
    color: #EEEEEE;
    display: inline-block;
    min-height: 16px;
    min-width: 55px;
    padding: 0px 3px;
}

span.spoiler > span {
    visibility: hidden;
}

span.spoiler_light {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    display: inline-block;
    padding: 3px;
}

span.spoiler_reveal {
    background-image: none;
    color: #000000;
}

span.spoiler_reveal > span {
    visibility: visible;
}

div.spoiler {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #EEEEEE;
    margin: 0 10px 0 20px;
    padding: 3px;
}

div.spoiler * {
    margin-left: -9999px;
}

div.spoiler_light {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    margin: 0 10px 0 20px;
    padding: 3px;
}

div.spoiler_reveal {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #000000;
    margin: 0 10px 0 20px;
    padding: 3px;
}

div.spoiler_reveal * {
    margin-left: 0px;
}

.clearer {
    clear: both;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #C9C9E4;
    color: #000000;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #533D7C;
    font-size: 13px;
    height: 31px;
    margin: 0;
    padding: 0;
    position: relative;
}

#header img {
    margin: 5px;
}

#footer {
    font-size: 13px;
    text-align: center;
}

#footer > #footer_links {
    font-weight: bold;
    margin: 20px 0;
}

#footer h6 {
    font-size: 11px;
    margin: 20px 0;
}

#nav {
    background: url("images/mobile_icon.png") no-repeat scroll 90% 5px #533D7C;
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 19px;
    padding: 8px 20px 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

#nav.menu_open {
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
}

#menu {
    background-color: #533D7C;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-top: none;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    right: 0;
    top: 31px;
    width: 140px;
    z-index: 9999;
}

#menu ul {
    border-collapse: collapse;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

#menu li a {
    color: #FFFFFF;
    display: block;
    padding: 5px 20px;
}

#menu ul li:first-child a,
#menu ul li:last-child a,
#menu li.menu_toggle {
    padding: 6px 20px 6px;
}

#content {
    font-size: 13px;
    margin: 10px 5px;
    padding-bottom: 5px;
}

#thread_view ul,
#thread_mark_read ul,
#folder_view ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

#thread_view li,
#thread_mark_read li,
#folder_view li {
    display: table-cell;
    vertical-align: middle;
}

#thread_view li .select,
#thread_mark_read li .select,
#folder_view li .select {
    width: 100%;
}

#thread_view li.right_col,
#thread_mark_read li.right_col,
#folder_view li.right_col {
    text-align: right;
    width: 2%;
}

#thread_mark_read h3 {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.forum,
.folder {
    margin: 10px 0;
}

.forum h3,
.folder h3 {
    background: url('images/folder.png') transparent no-repeat scroll 0 0;
    font-size: 13px;
    line-height: 150%;
    margin: 0;
    padding: 0 0 0 20px;
}

.forum_inner,
.folder_inner {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 2px;
}

.forum_info,
.folder_info,
.folder_pagination {
    background-color: #9999CC;
    border: 1px solid #9999CC;
    padding: 3px 3px 0;
}

.forum_info span,
.folder_info span {
    float: right;
}

.forum ul,
.folder ul {
    background-color: #9999CC;
    border: 1px solid #9999CC;
    list-style: none;
    margin: 0;
    padding: 0;
}

.forum ul li,
.folder ul li {
    background: url('images/bullet.png') transparent no-repeat scroll 0 4px;
    display: table;
    line-height: 200%;
    padding: 0;
    width: 100%;
}

.folder ul li > span.thread_title,
.folder ul li > span.thread_time,
.folder ul li > span.pm_title,
.folder ul li > span.pm_time,
.forum ul li > span.forum_messages,
.forum ul li > span.forum_last_visit {
    display: table-cell;
}

.folder ul li > span.thread_title,
.folder ul li > span.pm_title,
.forum ul li > span.forum_messages,
.forum ul li > span.forum_last_visit {
    padding-left: 20px;
}

.folder ul li > span.thread_time,
.folder ul li > span.pm_time {
    padding: 0 3px;
    text-align: right;
    white-space: nowrap;
}

.folder ul li > span.thread_detail {
    white-space: nowrap;
}

.folder ul li.pm_unread {
    background: url('images/pmunread.png') transparent no-repeat scroll 0 0;
}

.folder ul li.pm_read {
    background: url('images/pmread.png') transparent no-repeat scroll 0 0;
}

.folder ul li > span.thread_title > span {
    margin-left: 3px;
    white-space: nowrap;
}

h3.thread_title {
    font-size: 13px;
    line-height: 150%;
}

.message {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 2px;
}

.message_header {
    background-color: #9999CC;
    border: 1px solid #9999CC;
    padding: 2px 4px;
}

.message_header img {
    margin: 0 2px;
    vertical-align: middle;
}

.message_from,
.message_to,
.message_subject {
    line-height: 150%;
}

.message_from .message_time,
.message_to .message_count {
    display: block;
    float: right;
    white-space: nowrap;
}

.message_to span.message_read {
    padding-left: 10px;
    white-space: nowrap;
}

.message_to span.message_unread {
    background: url('images/post_unread.png') transparent no-repeat scroll 0 0;
    margin-left: 5px;
    padding-left: 16px;
}

.message_subject span.no_subject {
    font-style: italic;
}

.message_links {
    padding: 4px 4px 2px;
    text-align: right;
}

.message_body,
.message_attachments {
    padding: 4px;
}

.message_body a {
    text-decoration: underline;
}

.message_body img {
    max-width: 100% !important;
}

.message_attachments {
    margin: 10px 0 0;
}

.message_attachments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.message_attachments li {
    background: url('images/attach.png') transparent no-repeat scroll 0 0;
    padding-left: 20px;
}

.message .edit_text {
    font-size: 10px;
    margin: 10px 0;
}

.message_footer_links {
    margin: 10px 0;
    text-align: center;
}

.message_footer_links a {
    display: inline-block;
    line-height: 160%;
    padding-left: 20px;
    text-decoration: underline;
}

.message_footer_links a.reply {
    background: url('images/post.png') transparent no-repeat scroll 0 50%;
}

.message_footer_links a.edit {
    background: url('images/edit.png') transparent no-repeat scroll 0 50%;
}

.message_footer_links a.delete {
    background: url('images/delete.png') transparent no-repeat scroll 0 50%;
}

.message_footer_links a.forward {
    background: url('images/forward.png') transparent no-repeat scroll 0 50%;
}

.message_pagination {
    margin-top: 20px;
    text-align: center;
}

.message_pagination span {
    display: block;
    font-weight: bold;
}

.message_pagination a {
    text-decoration: underline;
}

.message_keep_reading {
    margin: 10px 0;
    text-align: right;
}

.message_page_footer ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

.message_page_footer li {
    display: table-cell;
}

.message_page_footer li.right_col {
    text-align: right;
}

a.reply_all {
    background: url('images/reply_all.png') transparent no-repeat scroll 0 0;
    display: inline-block;
    font-weight: bold;
    line-height: 160%;
    margin: 10px 0;
    padding-left: 20px;
    text-decoration: underline;
}

a.pm_send_new {
    background: url('images/post.png') transparent no-repeat scroll 0 0;
    display: inline-block;
    font-weight: bold;
    line-height: 160%;
    margin: 10px 0 0;
    padding-left: 20px;
    text-decoration: underline;
}

a.thread_list_link,
a.folder_list_link {
    background: url('images/thread_back.png') transparent no-repeat scroll 0 0;
    display: inline-block;
    font-weight: bold;
    line-height: 160%;
    margin: 10px 0 0;
    padding-left: 20px;
    text-decoration: underline;
}

.poll {
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
}

.poll hr {
    margin: 10px 0;
}

.poll h3 {
    font-size: 13px;
    line-height: 200%;
    margin: 0;
}

.poll label {
    display: block;
    line-height: 200%;
}

.poll .poll_vote_counts {
    line-height: 250%;
}

.poll .poll_buttons {
    margin: 15px 0;
}

.poll .poll_type_warning {
    line-height: 180%;
}

.poll .poll_bar {
    height: 20px;
    margin: 5px 0;
}

.poll .poll_bar_inner {
    height: 20px;
}

.poll .poll_bar_1 {
    border: 1px solid #0000AA;
}

.poll .poll_bar_2 {
    border: 1px solid #D40000;
}

.poll .poll_bar_3 {
    border: 1px solid #2AAA00;
}

.poll .poll_bar_4 {
    border: 1px solid #F4AA00;
}

.poll .poll_bar_5 {
    border: 1px solid #D42AD4;
}

.poll .poll_bar_inner_1 {
    background-color: #0000AA;
}

.poll .poll_bar_inner_2 {
    background-color: #D40000;
}

.poll .poll_bar_inner_3 {
    background-color: #2AAA00;
}

.poll .poll_bar_inner_4 {
    background-color: #F4AA00;
}

.poll .poll_bar_inner_5 {
    background-color: #D42AD4;
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 2px;
}

.post h3 {
    background-color: #7572BA;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 2px 3px;
}

.post .post_inner {
    background-color: #9999CC;
    padding: 8px;
}

.post_folder,
.post_thread_title,
.post_to,
.post_content,
.post_html,
.post_buttons {
    margin: 0 0 10px;
}

.post_to .select,
.post_to .text,
.post_folder .select,
.post_thread_title .text,
.post_content .textarea {
    width: 100%;
}

.post_html,
.post_buttons {
    text-align: center;
}

.post_folder,
.post_thread_title,
.post_to,
.post_content,
.post_html span {
    font-weight: bold;
}

.post_html label {
    margin: 0px 3px;
}

.post_buttons .button {
    margin: 0px 3px;
}

.pm_folder_usage {
    text-align: center;
}

.pm_bar {
    border: 1px solid #000000;
    height: 11px;
    margin: 10px 0;
    width: 100%;
}

.pm_bar_inner {
    background: url("images/pbar.png") transparent repeat-x scroll 0 0;
    height: 11px;
}

.logon {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 20px auto 0;
    max-width: 350px;
    padding: 2px;
    width: 75%;
}

.logon h3 {
    background-color: #7572BA;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 2px 3px;
}

.logon .logon_inner {
    background-color: #9999CC;
    padding: 8px;
}

.logon_username,
.logon_password,
.logon_remember,
.logon_buttons {
    margin: 0 10px 10px 0;
}

.logon_username .text,
.logon_password .password {
    width: 100%;
}

.logon_buttons {
    text-align: center;
}

span.thread_high_interest,
span.thread_subscribed,
span.thread_poll,
span.thread_sticky,
span.thread_friend,
span.thread_split,
span.thread_merge,
span.thread_attachment,
span.thread_closed,
span.thread_locked,
span.thread_deleted,
span.user_friend,
span.user_enemy {
    display: inline-block;
    margin: 0px 2px;
    padding-left: 16px;
    text-indent: -9999px;
}

span.thread_high_interest {
    background: url('images/high_interest.png') transparent no-repeat scroll 0 2px;
}

span.thread_subscribed {
    background: url('images/subscribe.png') transparent no-repeat scroll 0 2px;
}

span.thread_poll {
    background: url('images/poll.png') transparent no-repeat scroll 0 2px;
}

span.thread_sticky {
    background: url('images/sticky.png') transparent no-repeat scroll 0 2px;
}

span.thread_friend {
    background: url('images/friend.png') transparent no-repeat scroll 0 2px;
}

span.thread_split {
    background: url('images/split_thread.png') transparent no-repeat scroll 0 2px;
}

span.thread_merge {
    background: url('images/merge_thread.png') transparent no-repeat scroll 0 2px;
}

span.thread_attachment {
    background: url('images/attach.png') transparent no-repeat scroll 0 2px;
}

span.thread_closed {
    background: url('images/thread_closed.png') transparent no-repeat scroll 0 2px;
}

span.thread_locked {
    background: url('images/admin_locked.png') transparent no-repeat scroll 0 2px;
}

span.thread_deleted {
    background: url('images/delete.png') transparent no-repeat scroll 0 2px;
}

span.user_friend {
    background: url('images/friend.png') transparent no-repeat scroll 0 2px;
}

span.user_enemy {
    background: url('images/enemy.png') transparent no-repeat scroll 0 2px;
}

.message_box {
    background-color: #FDFC9F;
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 10px;
}

.message_box h3 {
    color: #000000;
    display: inline-block;
    font-size: 13px;
    line-height: 160%;
    margin: 0;
    padding-left: 25px;
}

.message_box a {
    text-decoration: underline;
}

.message_box p {
    margin: 10px 0;
    padding-left: 25px;
}

.message_question h3 {
    background: url('images/help.png') transparent no-repeat scroll 0 50%;
    font-size: 13px;
}

.message_error h3 {
    background: url('images/error.png') transparent no-repeat scroll 0 50%;
    font-size: 13px;
}

.message_success h3 {
    background: url('images/success.png') transparent no-repeat scroll 0 50%;
    font-size: 13px;
}

.message_warning h3 {
    background: url('images/warning.png') transparent no-repeat scroll 0 50%;
    font-size: 13px;
}