div.page_header {
    width: 630px; height: 25px; margin: auto auto 10px;
    text-align: left; line-height: 25px;
}

div.page_footer {
    width: 630px; height: 25px; margin: 10px auto;
    text-align: center; line-height: 25px;
    float: none; clear: both;
}

div.singleimage {
    width: 300px; height: 300px; margin: auto;
    margin-top: 100px;
}

div.imagetitle {
    text-align: center;
}


ul.gallery *
{ margin: 0; padding: 0; border-width: 0; }

ul.gallery
{
	width: 630px; margin: auto; padding: 0;
	list-style: none;
}

ul.gallery li
{
	width: 200px; height: 200px;
	margin: 3px; padding: 0;
	border: solid 1px #A0ACC0;
	float: left; clear: none;
	text-align: center;
}

ul.gallery li label
{
	display: block;
	height: 30px; line-height: 25px;
	border-top: solid 1px #A0ACC0;
}