BODY            {
                background-color:#EAEFF4;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 05px;
                margin-right: 05px;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10pt;
                }

img             {
                vertical-align: text-top;
                }

frameset        {
                border-style: none;
                border-width: 0px;
                }

frame           {
                border-style: none;
                border-width: 0px;
                border-color: #000000;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                }

.navpage        {
                font-size: 10px;
                font-weight: bold;
                margin: 0px;
                text-decoration: none;
                }

.navpage A      {
                color: #000000;
                text-decoration: none;
                }

.navleft {
                float: left;
                margin: 4px;
}
.navright {
                float: right;
}

P, H1, H2,  .form       {
                background-color: transparent;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                text-decoration: none;
                }

P               {
                color: #000000;
                font-size: 10pt;
                }

H1              {
                background-color: #C8D7E6;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: #000000;
                font-size: 10pt;
                font-weight:bold;
                margin: 0px;
                padding: 2px;
                width: 100%
                }

H2              {
                background-color: transparent;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: #000000;
                font-size: 10pt;
                font-weight:bold;
                margin-top: 05px;
                margin-bottom: 05px;
                margin-left: 0px;
                margin-right: 05px;
                }

A               {
                background-color: transparent;
                color: #000000;
                text-decoration: underline;
                }

.smalltext{
        font-size: 9pt;
        }

.box{
                background-color: #FFFFFF;
                border-style: solid;
                border-width: 1px;
                border-color: #000000;
                padding: 0px;
        }

.thread_list_folder{
                background-color:#CCCCCC;
                border-style:solid;
                border-top-width:00px;
                border-bottom-width:01px;
                border-left-width:00px;
                border-right-width:00px;
                border-color:#FFFFFF;
                height:20px;
                vertical-align:middle;
                }

.thread_list_mode {
                background-color:#EEEEEE;
                border-style:solid;
                border-top-width:01px;
                border-bottom-width:01px;
                border-left-width:01px;
                border-right-width:01px;
                border-color:#999999;
                font-size:10pt;
                margin-left:05px;
                margin-right:05px;
}

.thread_list_thread{
                border-style:none;
                vertical-align:middle;
                }

.threads {
          font-style: normal;
          font-size: 10pt;
          background-color: #C8D7E6;
          margin-top: 4px;
          margin-right: 4px;
          margin-bottom: 4px;
          margin-left: 4px;
          padding-top: 2px;
          padding-right: 2px;
          padding-bottom: 2px;
          padding-left: 2px;
          border: #000000;
          border-style: solid;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px
}

.folderinfo {
          font-size: 8pt;
          float: left;
          text-decoration: underline;
}

.folderpostnew {
          font-size: 8pt;
          text-align: right;
          float: right;
          text-decoration: underline;
}

.threadname {
          font-size: 10pt;
          padding-left: 0px;
}

.threadtime {
          font-size: 8pt;
          padding-left: 0px;
}

.threadxnewofy {
          font-size: 8pt;
          padding-left: 0px;
}

.foldername {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;
          font-style: normal;
          font-weight: bold;
          text-decoration: none;
          color: #ffffff;
          padding-top: 2px;
          padding-right: 2px;
          padding-bottom: 2px;
          padding-left: 2px
}

.posthead {
          background-color: #C8D7E6;
          font-size: 10pt;
          border: none;
          padding: 0px;
}

.pmheadl {
          background-color: #C8D7E6;
          font-size: 10pt;
          border: none;
          padding: 0px;
}

.pmheadr {
          background-color: #C8D7E6;
          font-size: 10pt;
          border: none;
          padding: 0px;
}
.postbody {
          font-size: 10pt;
          padding-top: 2px;
          padding-right: 2px;
          padding-bottom: 2px;
          padding-left: 2px;
          border: none;
}

.postnumber {
          text-align: right;
          font-size: 10pt
}

.postinfo {
          font-size: 10pt;
          text-align: right;
          float: right
}

.posttofromlabel {
          font-size: 10pt;
          text-align: right;
}

.posttofrom {
          font-size: 10pt;
          text-align: left;
}

.postresponse {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;
          font-style: normal;
          color: #000000;
          border-top: 1px #C8D7E6 solid;
          text-align: center;
          padding-top: 1px;
          padding-bottom: 1px;
}

.messagefoot {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;
          font-style: normal;
          background-color: #C8D7E6;
          border-width: 0px;
}

.button {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 9pt;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #5A809F;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          text-decoration: none;
          cursor: pointer
}

.smallbutton {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 8pt;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #5A809F;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          text-decoration: none;
          cursor: pointer
}

.subhead {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;
          color: #FFFFFF;
          background-color: #A6BED7;
          border-top-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 0px;
          border-left-width: 0px
}

.bhinputtext, .bhtextarea, .bhselect {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 9pt;
          color: #000000;
          background-color: #FFFFFF;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          padding-left: 2px;
          border-style: inset;
}

.bhinputcheckbox, .bhinputradio {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 8pt
}

.pollbar1 {
          background-color: #0000AA
}

.pollbar2 {
          background-color: #D40000
}

.pollbar3 {
          background-color: #2AAA00
}

.pollbar4 {
          background-color: #F4AA00
}

.pollbar5 {
          background-color: #D42AD4
}

.highlight {
          background-color: #C8D7E6;
          font-size: 10pt;
}

.quotetext {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 8pt;
                margin-top: 5px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}
.code {
                font-family: monospace;
                border: 1px solid #CCCCCC;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
                overflow: auto;
}
.quote {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                border: 1px solid #CCCCCC;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}

.spoiler {
                font-family: verdana, arial, helvetica, sans-serif;
                border: 1px solid #CCCCCC;
                color: #EEEEEE;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}

.spoiler_reveal {
                font-family: verdana, arial, helvetica, sans-serif;
                border: 1px solid #CCCCCC;
                color: #000000;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}

.spoiler_light {
                font-family: verdana, arial, helvetica, sans-serif;
                border: 1px solid #CCCCCC;
                color: #CCCCCC;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}

.spoiler_light_reveal {
                font-family: verdana, arial, helvetica, sans-serif;
                border: 1px solid #CCCCCC;
                color: #000000;
                background-color: #EEEEEE;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: 10px;
                padding: 3px;
}

.tools {
                margin: 0;
                margin-bottom: 3px;
                text-align:left;
                display: none;
                background-repeat: no-repeat;
}

.tools_up {
                border: 1px solid #C8D7E6;
                margin-left: 1px;
                margin-right: 1px;
                width: 18px;
                height: 18px;
}

.tools_over {
                border-top: 1px solid buttonhighlight;
                border-left: 1px solid buttonhighlight;
                border-bottom: 1px solid buttonshadow;
                border-right: 1px solid buttonshadow;
                margin-left: 1px;
                margin-right: 1px;
                width: 18px;
                height: 18px;
}

.tools_down {
                border-top: 1px solid buttonshadow;
                border-left: 1px solid buttonshadow;
                border-bottom: 1px solid buttonhighlight;
                border-right: 1px solid buttonhighlight;
                margin-left: 1px;
                margin-right: 1px;
                width: 18px;
                height: 18px;
}

.activeusers {
                font-size: 8pt;
}

.adminipdisplay {
                font-size: 8pt;
}

.emoticon_preview {
                overflow: auto;
                padding: 2px;
                background-color: #FFFFFF;
}
.emoticon_preview img {
                cursor: pointer;
}

.pmbar_text {
                font-size: 8pt;
}

.pmbar_container {
                height: 18px;
                width: 100%;
                border: 1px solid #000000;
}

.pmbar {
                height: 16px;
                background-color: #C8D7E6;
}
