body                { background-color: #$elements[body]; margin-top: 10px; margin-bottom: 10px;
                      margin-left: 5px; margin-right: 05px;  font-size: 10pt; color: #$text_colour[body];
                      font-family: Verdana, Arial, Helvetica, sans-serif }

frameset            { border-style: none; margin:0; padding:0 }

.navpage            { font-size: 10px; font-weight: bold; margin: 4px 1px 1px 4px;
                      text-decoration: none; background-color: #$elements[navpage];
                      color: #$text_colour[navpage] }

.navpage A          { background-color: transparent; color: #$text_colour[navpage] }

p, h1, h2, .form    { background-color: transparent; text-decoration: none;
                      font-family: Verdana, Arial, Helvetica, sans-serif }

p                   { color: #$text_colour[body]; font-size: 10pt }

h1                  { background-color: #$elements[h1]; text-decoration: none; font-size: 10pt;
                      font-family: Verdana, Arial, Helvetica, sans-serif; color: #$text_colour[h1];
                      font-weight:bold; margin: 0px; padding: 2px; width: 100% }

h2                  { background-color: transparent; text-decoration: none; font-weight:bold;
                      font-family: Verdana, Arial, Helvetica, sans-serif; color: #$text_colour[body];
                      font-size: 10pt; margin-top: 5px; margin-bottom: 5px; margin-left: 0px;
                      margin-right: 05px }

A                   { background-color: transparent; color: #$text_colour[body];
                      text-decoration: underline }

.smalltext          { font-size: 9pt }

.box                { background-color: #$elements[box]; border-style: solid; border-width: 1px;
                      border-color: #$text_colour[box]; padding: 0px; color: #$text_colour[box] }

.thread_list_folder { background-color: #CCCCCC; border-style:solid; border-top-width: 0px;
                      border-bottom-width: 1px; border-left-width: 0px; border-right-width: 0px;
                      border-color: #FFFFFF; height:20px; vertical-align:middle }

.thread_list_mode   { background-color: #EEEEEE; border-style:solid; border-top-width: 1px;
                      border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px;
                      border-color: #999999; font-size:10pt; margin-left: 5px;
                      margin-right: 5px }

.thread_list_thread { border-style:none; vertical-align: middle }

.threads            { font-style: normal; font-size: 10pt; background-color: #$elements[threads];
                      margin-top: 4px; margin-right: 4px; margin-bottom: 4px; margin-left: 4px;
                      padding-top: 2px; padding-right: 2px; color: #$text_colour[threads];
                      padding-bottom: 2px; padding-left: 2px; border: #$text_colour[box];
                      border-style: solid; border-top-width: 1px; border-right-width: 1px;
                      border-bottom-width: 1px; border-left-width: 1px }

.threads A          { background-color: transparent; color: #$text_colour[threads] }

.folderinfo         { font-size: 8pt; float: left; text-decoration: underline }

.folderpostnew      { font-size: 8pt; text-align: right; float: right; text-decoration: underline }

.threadname         { font-size: 10pt; padding-left: 0px; color: #$text_colour[threads] }

.threadtime         { font-size: 8pt; padding-left: 0px; color: #$text_colour[threads] }

.threadxnewofy      { font-size: 8pt; padding-left: 0px; color: #$text_colour[threads] }

.foldername         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
                      font-style: normal; font-weight: bold; text-decoration: none; color: #ffffff;
                      padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }

.posthead           { background-color: #$elements[threads]; font-size: 10pt; border: none;
                      padding: 0px; color: #$text_colour[threads] }
                      
.pmheadl            { background-color: #$elements[threads]; font-size: 10pt; border: none;
                      padding: 0px; color: #$text_colour[threads] }
                      
.pmheadr            { background-color: #$elements[threads]; font-size: 10pt; border: none;
                      padding: 0px; color: #$text_colour[threads] }

.posthead A         { background-color: transparent; color: #$text_colour[threads] }

.postbody           { font-size: 10pt; padding-top: 2px; padding-right: 2px; padding-bottom: 2px;
                      padding-left: 2px; border: none }

.postnumber         { text-align: right; font-size: 10pt; color: #$text_colour[box] }

.postinfo           { font-size: 10pt; text-align: right; float: right; color: #$text_colour[threads] }

.posttofromlabel    { font-size: 10pt; text-align: right; color: #$text_colour[threads] }

.posttofrom         { font-size: 10pt; text-align: left; color: #$text_colour[threads] }

.posttofrom A       { background-color: transparent; color: #$text_colour[threads] }

.postresponse       { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
                      font-style: normal; color: #$text_colour[body]; border-top: 1px #$elements[threads] solid;
                      text-align: center; padding-top: 1px; padding-bottom: 1px;}

.messagefoot        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
                      font-style: normal; background-color: #$elements[threads]; border-width: 0px;
                      color: #$text_colour[threads] }

.messagefoot A      { background-color: transparent; color: #$text_colour[threads] }

.notifier           { background-color: #E2E2E2; border: #$text_colour[body]; border-style: double;
                      border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                      border-left-width: 1px; width: 200px; font-size: 10pt; font-weight: bold;
                      font-family: Verdana, Arial, Helvetica, sans-serif; color: #009900;
                      float: right; text-align: right; vertical-align: middle; padding-top: 3px;
                      padding-right: 3px; padding-bottom: 3px; padding-left: 3px; top: 20px }

.button             { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt;
                      font-weight: bold; color: #$text_colour[button]; background-color: #$elements[button];
                      border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                      border-left-width: 1px; text-decoration: none; cursor: pointer }

.smallbutton        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
                      font-weight: bold; color: #$text_colour[button]; background-color: #$elements[button];
                      border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                      border-left-width: 1px; text-decoration: none; cursor: pointer }

.subhead            { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
                      font-weight: bold; color: #$text_colour[subhead]; background-color: #$elements[subhead];
                      border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px;
                      border-left-width: 0px }

.bhinputtext,
.bhtextarea,
.bhselect           { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt;
                      color: #000000; background-color: #FFFFFF; border-top-width: 1px;
                      border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
                      padding-left: 2px; border-style: inset }

.bhinputcheckbox,
.bhinputradio       { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt }

.pollbar1           { background-color: #0000AA }

.pollbar2           { background-color: #D40000 }

.pollbar3           { background-color: #2AAA00 }

.pollbar4           { background-color: #F4AA00 }

.pollbar5           { background-color: #D42AD4 }

.highlight          { background-color: #$elements[threads] }

.quotetext          { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; margin-top: 5px; margin-left: 40px;
                      margin-right: 10px; padding: 3px; }

.code               { font-family: monospace; border: 1px solid #CCCCCC; background-color: #EEEEEE; margin-top: 0px;
                      margin-bottom: 10px; margin-left: 40px; margin-right: 10px; padding: 3px; }

.quote              { font-family: Verdana, Arial, Helvetica, sans-serif; border: 1px solid #CCCCCC; background-color: #EEEEEE;
                      margin-top: 0px; margin-bottom: 10px; margin-left: 40px; margin-right: 10px; padding: 3px; }

.tools              { margin: 0; margin-bottom: 3px; padding: 2px; text-align:left; display: none; }

.tools_up           { border: 1px solid #$elements[threads]; margin: 1; float:left; }

.tools_over         { border-top: 1px solid buttonhighlight; border-left: 1px solid buttonhighlight; border-bottom: 1px solid buttonshadow;
                      border-right: 1px solid buttonshadow; margin:1; float:left; }

.tools_down         { border-top: 1px solid buttonshadow; border-left: 1px solid buttonshadow; border-bottom: 1px solid buttonhighlight;
                      border-right: 1px solid buttonhighlight; margin:1; float:left; }

.activeusers        { font-size: 8pt; }

.adminipdisplay     { font-size: 8pt; }
