.e_smile { /* :) :-) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/smile.png");
    background-repeat: no-repeat;
}
.e_smile span {
	display: none;
}

.e_wink { /* ;) ;-) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/wink.png");
    background-repeat: no-repeat;
}
.e_wink span {
	display: none;
}

.e_sad { /* :( :-( */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/sad.png");
    background-repeat: no-repeat;
}
.e_sad span {
	display: none;
}

.e_cry { /* :'( :'-( */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/cry.png");
    background-repeat: no-repeat;
}
.e_cry span {
	display: none;
}

.e_tongue { /* :P :-P */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/tongue.png");
    background-repeat: no-repeat;
}
.e_tongue span {
	display: none;
}

.e_grin { /* :D :-D */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/grin.png");
    background-repeat: no-repeat;
}
.e_grin span {
	display: none;
}

.e_confused { /* :S :-S */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/whut.png");
    background-repeat: no-repeat;
}
.e_confused span {
	display: none;
}

.e_plain { /* :| :-| */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/notamused.png");
    background-repeat: no-repeat;
}
.e_plain span {
	display: none;
}

.e_unsure { /* :/ :-/ */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/shack.png");
    background-repeat: no-repeat;
}
.e_unsure span {
	display: none;
}

.e_shock { /* :O :-O */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/shock.png");
    background-repeat: no-repeat;
}
.e_shock span {
	display: none;
}

.e_angry { /* :@ :-@ */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/angry.png");
    background-repeat: no-repeat;
}
.e_angry span {
	display: none;
}

.e_happy { /* ^.^ */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/happy.png");
    background-repeat: no-repeat;
}
.e_happy span {
	display: none;
}

.e_shades { /* B-) B) 8-) 8) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/cool.png");
    background-repeat: no-repeat;
}
.e_shades span {
	display: none;
}

.e_smile_big_nose { /* :o) :O) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/smile_big_nose.png");
    background-repeat: no-repeat;
}
.e_smile_big_nose span {
	display: none;
}

.e_beer { /* (beer) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/beer.png");
    background-repeat: no-repeat;
}
.e_beer span {
	display: none;
}

.e_boy { /* (boy) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/boy.png");
    background-repeat: no-repeat;
}
.e_boy span {
	display: none;
}

.e_brokenheart { /* (heartbroke) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/brokenheart.png");
    background-repeat: no-repeat;
}
.e_brokenheart span {
	display: none;
}

.e_cat { /* (cat) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/cat.png");
    background-repeat: no-repeat;
}
.e_cat span {
	display: none;
}

.e_envelope { /* (envelope) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/mail.png");
    background-repeat: no-repeat;
}
.e_envelope span {
	display: none;
}

.e_fail { /* (fail) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/cry.png");
    background-repeat: no-repeat;
}
.e_fail span {
	display: none;
}

.e_flower { /* (flower) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/flower.png");
    background-repeat: no-repeat;
}
.e_flower span {
	display: none;
}

.e_girl { /* (girl) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/girl.png");
    background-repeat: no-repeat;
}
.e_girl span {
	display: none;
}

.e_heartbeat { /* (heart) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/heart.png");
    background-repeat: no-repeat;
}
.e_heartbeat span {
	display: none;
}

.e_kiss { /* (kiss) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/kiss.png");
    background-repeat: no-repeat;
}
.e_kiss span {
	display: none;
}

.e_lightbulb { /* (lightbulb) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/bulb.png");
    background-repeat: no-repeat;
}
.e_lightbulb span {
	display: none;
}

.e_musicnote { /* (music) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/note.png");
    background-repeat: no-repeat;
}
.e_musicnote span {
	display: none;
}

.e_star { /* (star) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/star.png");
    background-repeat: no-repeat;
}
.e_star span {
	display: none;
}

.e_tea { /* (tea) (coffee)*/
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/coffee.png");
    background-repeat: no-repeat;
}
.e_tea span {
	display: none;
}

.e_crying { /* :(( :-(( */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/cry.png");
    background-repeat: no-repeat;
}
.e_crying span {
	display: none;
}

.e_eek { /* 8-O :o :-o*/
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/shock.png");
    background-repeat: no-repeat;
}
.e_eek span {
	display: none;
}

.e_horror { /* :& */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/horror.png");
    background-repeat: no-repeat;
}
.e_horror span {
	display: none;
}

.e_jesus { /* (jesus) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/jesus.png");
    background-repeat: no-repeat;
}
.e_jesus span {
	display: none;
}

.e_goth { /* (goth) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/goth.png");
    background-repeat: no-repeat;
}
.e_goth span {
	display: none;
}

.e_phone { /* (phone) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/phone.png");
    background-repeat: no-repeat;
}
.e_phone span {
	display: none;
}

.e_sleepyhead { /* I) I-) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/sleep.png");
    background-repeat: no-repeat;
}
.e_sleepyhead span {
	display: none;
}

.e_thumbsup { /* (yes) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/thumbup.png");
    background-repeat: no-repeat;
}
.e_thumbsup span {
	display: none;
}

.e_thumbsdown { /* (no) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/thumbdown.png");
    background-repeat: no-repeat;
}
.e_thumbsdown span {
	display: none;
}

.e_smile_dead { /* (smile_dead) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/xsmile.png");
    background-repeat: no-repeat;
}
.e_smile_dead span {
	display: none;
}

.e_grin_dead { /* I) I-) */
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
    font-size: 13px;
    background-image: url("./images/xd.png");
    background-repeat: no-repeat;
}
.e_grin_dead span {
	display: none;
}