.profile_image,
.profile_link,
.footer {
    margin: 20px auto;
    text-align: center;
    width: 630px;
}

.footer {
    clear: both;
}

ul.gallery *
{ 
    border-width: 0;
    margin: 0; 
    padding: 0;  
}

ul.gallery
{
    list-style: none;
    margin: 20px auto;
    padding: 0;
    width: 630px;
}

ul.gallery li
{
    border: 1px solid #A0ACC0;
    border-radius: 5px;
    clear: none;
    float: left;
    height: 200px;
    margin: 3px;
    padding: 0;
    text-align: center;
    width: 200px;
}

ul.gallery li a
{
    text-decoration: none;
}

ul.gallery li label
{
    border-top: 1px solid #A0ACC0;
    display: block;
    height: 30px;
    line-height: 25px;
    margin: 0 auto;
    width: 90%;
}