.e_smile { /* :) :-) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/smile.png");
    background-repeat: no-repeat;
}
.e_smile span {
	display: none;
}

.e_wink { /* ;) ;-) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/wink.png");
    background-repeat: no-repeat;
}
.e_wink span {
	display: none;
}

.e_sad { /* :( :-( */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/sad.png");
    background-repeat: no-repeat;
}
.e_sad span {
	display: none;
}

.e_cry { /* :'( :'-( */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/tears.png");
    background-repeat: no-repeat;
}
.e_cry span {
	display: none;
}

.e_tongue { /* :P :-P */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/tease.png");
    background-repeat: no-repeat;
}
.e_tongue span {
	display: none;
}

.e_grin { /* :D :-D */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/grin.png");
    background-repeat: no-repeat;
}
.e_grin span {
	display: none;
}

.e_confused { /* :S :-S */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/confused.png");
    background-repeat: no-repeat;
}
.e_confused span {
	display: none;
}

.e_plain { /* :| :-| */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/plain.png");
    background-repeat: no-repeat;
}
.e_plain span {
	display: none;
}

.e_unsure { /* :/ :-/ */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/unsure.png");
    background-repeat: no-repeat;
}
.e_unsure span {
	display: none;
}

.e_shock { /* :O :-O */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/shock.png");
    background-repeat: no-repeat;
}
.e_shock span {
	display: none;
}

.e_angry { /* :@ :-@ */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/angry.png");
    background-repeat: no-repeat;
}
.e_angry span {
	display: none;
}

.e_sidelook { /* ¬_¬ */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/sidelook.png");
    background-repeat: no-repeat;
}
.e_sidelook span {
	display: none;
}

.e_cringe { /* >.< */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cringe.png");
    background-repeat: no-repeat;
}
.e_cringe span {
	display: none;
}

.e_cheeky { /* :> */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cheeky.png");
    background-repeat: no-repeat;
}
.e_cheeky span {
	display: none;
}

.e_evil_cheeky { /* }
.e_evil_cheeky span {
	display: none;
}:> */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/evil_cheeky.png");
    background-repeat: no-repeat;
}

.e_happy { /* ^.^ */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/happy.png");
    background-repeat: no-repeat;
}
.e_happy span {
	display: none;
}

.e_shades { /* B-) B) 8-) 8) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/shades.png");
    background-repeat: no-repeat;
}
.e_shades span {
	display: none;
}

.e_smile_big_nose { /* :o) :O) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/smile_big_nose.png");
    background-repeat: no-repeat;
}
.e_smile_big_nose span {
	display: none;
}

.e_beer { /* (beer) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/beer.png");
    background-repeat: no-repeat;
}
.e_beer span {
	display: none;
}

.e_boy { /* (boy) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/boy.png");
    background-repeat: no-repeat;
}
.e_boy span {
	display: none;
}

.e_brokenheart { /* (heartbroke) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/brokenheart.png");
    background-repeat: no-repeat;
}
.e_brokenheart span {
	display: none;
}

.e_cat { /* (cat) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cat.png");
    background-repeat: no-repeat;
}
.e_cat span {
	display: none;
}

.e_cheering { /* (cheer) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cheer.gif");
    background-repeat: no-repeat;
}
.e_cheering span {
	display: none;
}

.e_cig { /* (cig) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cig.png");
    background-repeat: no-repeat;
}
.e_cig span {
	display: none;
}

.e_clock { /* (clock) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/clock.png");
    background-repeat: no-repeat;
}
.e_clock span {
	display: none;
}

.e_cow { /* (cow) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cow.png");
    background-repeat: no-repeat;
}
.e_cow span {
	display: none;
}

.e_cowboy { /* (cowboy) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cowboy.png");
    background-repeat: no-repeat;
}
.e_cowboy span {
	display: none;
}

.e_drink { /* (drink) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/drink.png");
    background-repeat: no-repeat;
}
.e_drink span {
	display: none;
}

.e_envelope { /* (envelope) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/envelope.png");
    background-repeat: no-repeat;
}
.e_envelope span {
	display: none;
}

.e_fail { /* (fail) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/fail2.gif");
    background-repeat: no-repeat;
}
.e_fail span {
	display: none;
}

.e_fish { /* (fish) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/fish.png");
    background-repeat: no-repeat;
}
.e_fish span {
	display: none;
}

.e_flower { /* (flower) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/flower.png");
    background-repeat: no-repeat;
}
.e_flower span {
	display: none;
}

.e_girl { /* (girl) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/girl.png");
    background-repeat: no-repeat;
}
.e_girl span {
	display: none;
}

.e_heartbeat { /* (heart) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/heart.png");
    background-repeat: no-repeat;
}
.e_heartbeat span {
	display: none;
}

.e_kiss { /* (kiss) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/kiss.png");
    background-repeat: no-repeat;
}
.e_kiss span {
	display: none;
}

.e_lightbulb { /* (lightbulb) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/lightbulb.png");
    background-repeat: no-repeat;
}
.e_lightbulb span {
	display: none;
}

.e_monkey { /* (monkey) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/monkey.png");
    background-repeat: no-repeat;
}
.e_monkey span {
	display: none;
}

.e_musicnote { /* (music) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/musicnote.png");
    background-repeat: no-repeat;
}
.e_musicnote span {
	display: none;
}

.e_nosmoke { /* (nosmoke) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/nosmoke.png");
    background-repeat: no-repeat;
}
.e_nosmoke span {
	display: none;
}

.e_rainbow { /* (rainbow) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/rainbow.png");
    background-repeat: no-repeat;
}
.e_rainbow span {
	display: none;
}

.e_pipe { /* :Y :-Y */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/smoke.png");
    background-repeat: no-repeat;
}
.e_pipe span {
	display: none;
}

.e_star { /* (star) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/star.png");
    background-repeat: no-repeat;
}
.e_star span {
	display: none;
}

.e_tea { /* (tea) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/tea.png");
    background-repeat: no-repeat;
}
.e_tea span {
	display: none;
}

.e_crying { /* :(( :-(( */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cry.png");
    background-repeat: no-repeat;
}
.e_crying span {
	display: none;
}

.e_eek { /* 8-O */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/eek.png");
    background-repeat: no-repeat;
}
.e_eek span {
	display: none;
}

.e_bounce { /* (bounce) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/bounce.gif");
    background-repeat: no-repeat;
}
.e_bounce span {
	display: none;
}

.e_woot { /* (woot) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/woot.gif");
    background-repeat: no-repeat;
}
.e_woot span {
	display: none;
}

.e_dance { /* (dance) */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/dance.gif");
    background-repeat: no-repeat;
}
.e_dance span {
	display: none;
}

.e_horror { /* :& */
	vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    width:  15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/horror.png");
    background-repeat: no-repeat;
}
.e_horror span {
	display: none;
}