.e_smile { /* :) :-) */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/smile.png");
    background-repeat: no-repeat;
}
.e_smile span {
	display: none;
}

.e_wink { /* ;) ;-) */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/wink.png");
    background-repeat: no-repeat;
}
.e_wink span {
	display: none;
}

.e_sad { /* :( :-( */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/sad.png");
    background-repeat: no-repeat;
}
.e_sad span {
	display: none;
}

.e_cry { /* :'( :'-( */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cry.png");
    background-repeat: no-repeat;
}
.e_cry span {
	display: none;
}

.e_tongue { /* :P :-P */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/tease.png");
    background-repeat: no-repeat;
}
.e_tongue span {
	display: none;
}

.e_grin { /* :D :-D */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/grin.png");
    background-repeat: no-repeat;
}
.e_grin span {
	display: none;
}

.e_confused { /* :S :-S */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/confused.png");
    background-repeat: no-repeat;
}
.e_confused span {
	display: none;
}

.e_plain { /* :| :-| */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/plain.png");
    background-repeat: no-repeat;
}
.e_plain span {
	display: none;
}

.e_unsure { /* :/ :-/ */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/unsure.png");
    background-repeat: no-repeat;
}
.e_unsure span {
	display: none;
}

.e_shock { /* :O :-O */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/shock.png");
    background-repeat: no-repeat;
}
.e_shock span {
	display: none;
}

.e_angry { /* :@ :-@ */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/angry.png");
    background-repeat: no-repeat;
}
.e_angry span {
	display: none;
}

.e_sidelook { /* ¬_¬ */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/sidelook.png");
    background-repeat: no-repeat;
}
.e_sidelook span {
	display: none;
}

.e_cringe { /* >.< */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cringe.png");
    background-repeat: no-repeat;
}
.e_cringe span {
	display: none;
}

.e_cheeky { /* :> */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/cheeky.png");
    background-repeat: no-repeat;
}
.e_cheeky span {
	display: none;
}

.e_evil_cheeky { /* }:> */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/evil_cheeky.png");
    background-repeat: no-repeat;
}
.e_evil_cheeky span {
	display: none;
}

.e_happy { /* ^.^ */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/happy.png");
    background-repeat: no-repeat;
}
.e_happy span {
	display: none;
}

.e_shades { /* B-) B) 8-) 8) */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/shades.png");
    background-repeat: no-repeat;
}
.e_shades span {
	display: none;
}

.e_smile_big_nose { /* :o) :O) */
	padding-left: 15px;
    height: 13px;
	font-size: 13px;
    background-image: url("./images/smile_big_nose.png");
    background-repeat: no-repeat;
}
.e_smile_big_nose span {
	display: none;
}