.cke_skin_beehive *,
.cke_skin_beehive a:hover,
.cke_skin_beehive a:link,
.cke_skin_beehive a:visited,
.cke_skin_beehive a:active {
    background: transparent;
    border: 0;
    cursor: auto;
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

.cke_panel_frame {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

.cke_skin_beehive iframe {
    vertical-align: inherit;
}

.cke_skin_beehive textarea {
    white-space: pre;
}

.cke_skin_beehive .cke_browser_gecko textarea {
    cursor: text;
}

.cke_skin_beehive .cke_browser_gecko textarea[disabled] {
    cursor: default;
}

.cke_skin_beehive input[type="text"],
.cke_skin_beehive input[type="password"] {
    cursor: text;
}

.cke_skin_beehive input[type="text"][disabled],
.cke_skin_beehive input[type="password"][disabled] {
    cursor: default;
}

.cke_skin_beehive fieldset {
    border: 2px groove #E0DFE3;
    padding: 10px;
}

.cke_skin_beehive .cke_editor {
    display: inline-table;
    width: 100%;
}

.cke_skin_beehive .cke_browser_webkit .cke_editor {
    display: table;
}

.cke_skin_beehive span.cke_browser_webkit,
.cke_skin_beehive span.cke_browser_gecko18 {
    display: block;
}

.cke_skin_beehive,
.cke_skin_beehive .cke_wrapper {
    display: block;
}

.cke_skin_beehive .cke_top {
    border: none;
}

.cke_skin_beehive .cke_bottom {
    background-color: #FFFFFF;
    border: 1px inset threedface;
    border-top: none;
}

.cke_skin_beehive .cke_contents {
    background-color: #FFFFFF;
    border: 1px inset threedface;
    border-bottom: none;
}

.cke_skin_beehive textarea.cke_source {
    background-color: #FFFFFF;
    font-family: 'Courier New', Monospace;
    font-size: small;
    white-space: pre;
}

.cke_skin_beehive .cke_resizer {
    background: transparent url(sprites.png) no-repeat 0 -77px;
    cursor: se-resize;
    display: block;
    float: right;
    height: 12px;
    margin-top: 12px;
    opacity: 0.5;
    width: 12px;
}

.cke_skin_beehive .cke_browser_air .cke_resizer {
    cursor: move;
}

.cke_skin_beehive .cke_resizer_horizontal {
    cursor: e-resize;
}

.cke_skin_beehive .cke_resizer_vertical {
    cursor: n-resize;
}

.cke_skin_beehive .cke_maximized .cke_resizer {
    display: none;
}

.cke_skin_beehive .cke_browser_ie6 .cke_contents textarea,
.cke_skin_beehive .cke_browser_ie7 .cke_contents textarea {
    position: absolute;
}

.cke_skin_beehive .cke_voice_label {
    display: none;
}

.cke_skin_beehive legend.cke_voice_label {
    display: none;
}

.cke_skin_beehive .cke_browser_ie legend.cke_voice_label {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.cke_skin_beehive .cke_panel {
    background-color: #FFFFFF;
    border: 1px solid;
    height: 100px;
    overflow: hidden;
    width: 120px;
}

.cke_skin_beehive .cke_panel iframe {
    height: 100%;
    width: 100%;
}

cke_skin_beehive .cke_panel_frame .cke_label {
    display: none;
}

html.cke_skin_beehive_container {
    visibility: visible;
}

body.cke_panel_frame {
    overflow: auto;
}

ul.cke_panel_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

li.cke_panel_listItem {
    margin: 0;
}

.cke_panel_listItem a {
    color: #000000;
    display: block;
    overflow: hidden;
    padding: 2px;
    text-decoration: none;
    text-overflow: ellipsis;
}

* html .cke_panel_listItem a {
    width: 100%;
}

.cke_panel_listItem.cke_selected a {
    background-color: highlight;
    border: 1px solid transparent;
    color: buttonhighlight;
}

.cke_hc .cke_panel_listItem.cke_selected a,
.cke_hc .cke_panel_listItem a:hover,
.cke_hc .cke_panel_listItem a:focus,
.cke_hc .cke_panel_listItem a:active {
    border-width: 3px;
    padding: 0;
}

.cke_panel_grouptitle {
    display: none;
}

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6,
.cke_panel_listItem pre {
    margin-bottom: 3px;
    margin-top: 3px;
}

.cke_skin_beehive .cke_button_textcolor_panel,
.cke_skin_beehive .cke_button_bgcolor_panel {
    height: 135px;
    width: 150px;
}

.cke_colorblock {
    padding: 3px;
}

.cke_colorblock,
.cke_colorblock a {
    color: #000000;
    text-decoration: none;
}

span.cke_colorbox {
    border: 1px solid;
    float: left;
    height: 10px;
    width: 10px;
}

a.cke_colorbox {
    border: 1px solid transparent;
    float: left;
    padding: 2px;
}

a:hover.cke_colorbox,
a:focus.cke_colorbox,
a:active.cke_colorbox {
    border: 1px solid;
}

a.cke_colorauto,
a.cke_colormore {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 2px;
}

a:hover.cke_colorauto,
a:hover.cke_colormore,
a:focus.cke_colorauto,
a:focus.cke_colormore,
a:active.cke_colorauto,
a:active.cke_colormore {
    border: 1px solid;
}

.cke_skin_beehive .cke_browser_webkit .cke_toolbox,
.cke_skin_beehive .cke_browser_webkit .cke_toolbox>span {
    white-space: normal;
}

.cke_skin_beehive .cke_toolbox {
    clear: both;
    padding-bottom: 1px;
}

.cke_skin_beehive a.cke_toolbox_collapser,
.cke_skin_beehive a:hover.cke_toolbox_collapser {
    background-image: url(sprites.png);
    background-position: 3px -1026px;
    background-repeat: no-repeat;
    border: outset 1px;
    cursor: pointer;
    float: right;
    height: 11px;
    margin: 11px 2px 2px;
    width: 11px;
}

.cke_skin_beehive a.cke_toolbox_collapser span {
    display: none;
}

.cke_skin_beehive .cke_hc a.cke_toolbox_collapser span {
    display: inline;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
}

.cke_skin_beehive a.cke_toolbox_collapser_min,
.cke_skin_beehive a:hover.cke_toolbox_collapser_min {
    background-image: url(sprites.png);
    background-position: 4px -1047px;
    background-repeat: no-repeat;
    margin: 2px;
}

.cke_skin_beehive .cke_toolbar {
    display: block;
    height: 30px;
}

.cke_skin_beehive .cke_toolgroup {
    display: inline-block;
    float: left;
    padding-bottom: 4px;
}

.cke_skin_beehive .cke_separator {
    border-left: solid 1px #B2CBFF;
    display: inline-block;
    float: left;
    margin: 6px 2px;
}

.cke_skin_beehive .cke_break {
    clear: left;
}

.cke_skin_beehive .cke_toolbar_start,
.cke_skin_beehive .cke_toolbar_end {
    display: none;
}

.cke_skin_beehive .cke_button {
    display: inline-block;
    height: 22px;
    margin: 2px 0 0;
    width: 24px;
}

.cke_skin_beehive .cke_button a,
.cke_skin_beehive .cke_button a:hover,
.cke_skin_beehive .cke_button a:focus,
.cke_skin_beehive .cke_button a:active,
.cke_skin_beehive .cke_button a.cke_off {
    border: solid 1px transparent;
    cursor: default;
    display: inline-block;
    height: 20px;
    outline: none;
    padding: 0;
    vertical-align: top;
    width: 22px;
}

.cke_skin_beehive .cke_button a.cke_disabled * {
    opacity: 0.3;
}

.cke_skin_beehive .cke_hc .cke_button a.cke_disabled *,
.cke_skin_beehive .cke_browser_ie.cke_hc a:hover.cke_button .cke_disabled * {
    opacity: 0.6;
}

.cke_skin_beehive .cke_button a:hover,
.cke_skin_beehive .cke_button a:focus,
.cke_skin_beehive .cke_button a:active {
    border: 1px outset threedface;
}

.cke_skin_beehive .cke_button .cke_icon {
    background: transparent url(icons.png) no-repeat;
    cursor: default;
    display: inline-block;
    height: 18px;
    margin: 2px 0 0 2px;
    width: 20px;
}

.cke_skin_beehive .cke_button .cke_label {
    cursor: default;
    display: none;
    padding-left: 3px;
    vertical-align: middle;
}

.cke_skin_beehive .cke_hc .cke_button .cke_label {
    display: inline-block;
    padding: 0;
}

.cke_skin_beehive .cke_hc .cke_button .cke_icon {
    display: none;
}

.cke_skin_beehive .cke_accessibility {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.cke_skin_beehive .cke_button .cke_buttonarrow {
    background-image: url(sprites.png);
    background-position: 2px -1004px;
    background-repeat: no-repeat;
    cursor: default;
    display: inline-block;
    height: 18px;
    width: 8px;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_toolbar,
.cke_skin_beehive .cke_browser_gecko18 .cke_button a,
.cke_skin_beehive .cke_browser_gecko18 .cke_button a.cke_off,
.cke_skin_beehive .cke_browser_gecko18 .cke_button .cke_icon,
.cke_skin_beehive .cke_browser_gecko18 .cke_button .cke_buttonarrow,
.cke_skin_beehive .cke_browser_gecko18 .cke_separator,
.cke_skin_beehive .cke_browser_gecko18 .cke_toolbar_start,
.cke_skin_beehive .cke_browser_gecko18 .cke_toolbar_end {
    display: block;
    float: left;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_hc .cke_button .cke_icon {
    display: none;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_button .cke_label,
.cke_skin_beehive .cke_browser_gecko18 .cke_break {
    float: left;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_separator {
    margin-top: 4px;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_button .cke_label {
    padding-top: 3px;
}

.cke_skin_beehive .cke_browser_ie8 .cke_toolbar,
.cke_skin_beehive .cke_browser_ie8 .cke_toolgroup {
    vertical-align: top;
}

.cke_skin_beehive .cke_browser_iequirks.cke_browser_ie8 .cke_toolbar,
.cke_skin_beehive .cke_browser_iequirks.cke_browser_ie8 .cke_toolgroup {
    vertical-align: baseline;
}

.cke_skin_beehive .cke_browser_iequirks .cke_separator {
    vertical-align: text-bottom;
}

.cke_skin_beehive .cke_browser_ie .cke_rcombo,
.cke_skin_beehive .cke_browser_ie .cke_rcombo * {
    cursor: default;
}

.cke_skin_beehive .cke_contextmenu {
    background-color: threedface;
    border: 1px solid activeborder;
    padding: 2px;
}

.cke_skin_beehive .cke_menuitem a {
    border: 1px solid transparent;
    color: buttontext;
    display: block;
}

.cke_skin_beehive .cke_menuitem a:hover {
    background-color: #D1E2F2;
    border: 1px solid highlight;
    color: buttontext;
}

.cke_skin_beehive .cke_menuitem span {
    cursor: default;
}

.cke_skin_beehive .cke_menuitem a:hover,
.cke_skin_beehive .cke_menuitem a:focus,
.cke_skin_beehive .cke_menuitem a:active {
    display: block;
}

.cke_hc .cke_menuitem a:hover,
.cke_hc .cke_menuitem a:focus,
.cke_hc .cke_menuitem a:active {
    border: 2px solid;
}

.cke_skin_beehive .cke_menuitem .cke_icon {
    background-color: transparent;
    background-image: url(icons.png);
    background-position: 100px;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin: 1px 2px;
    width: 16px;
}

.cke_skin_beehive .cke_menuitem .cke_icon_wrapper {
    border: none;
    clear: both;
    float: left;
    height: 18px;
    width: 16px;
}

.cke_skin_beehive .cke_menuitem .cke_label {
    display: block;
    margin-left: 24px;
    padding: 2px;
}

.cke_skin_beehive .cke_menuitem a.cke_disabled:hover .cke_label,
.cke_skin_beehive .cke_menuitem a.cke_disabled:focus .cke_label,
.cke_skin_beehive .cke_menuitem a.cke_disabled:active .cke_label {
    background-color: transparent;
}

.cke_skin_beehive .cke_menuseparator {
    height: 2px;
}

.cke_skin_beehive .cke_menuarrow {
    background-image: url(sprites.png);
    background-position: 0 -1071px;
    background-repeat: no-repeat;
    float: right;
    height: 5px;
    margin-right: 2px;
    margin-top: 3px;
    width: 3px;
}

.cke_skin_beehive .cke_menuarrow span {
    display: none;
}

.cke_hc .cke_skin_beehive .cke_menuarrow {
    margin-top: 0;
    width: auto;
}

.cke_hc .cke_skin_beehive .cke_menuarrow span {
    display: inline;
}

.cke_browser_ie.cke_ltr .cke_skin_beehive .cke_menuarrow {
    position: absolute;
    right: 2px;
}

.cke_skin_beehive .cke_rcombo {
    display: inline-block;
    margin: 2px 4px 0 0;
    vertical-align: top;
}

.cke_skin_beehive .cke_rcombopanel {
    border: 1px inset #000000;
}

.cke_skin_beehive .cke_rcombo a {
    display: inline-block;
    float: left;
}

.cke_skin_beehive .cke_rcombo .cke_label {
    display: none;
}

.cke_skin_beehive .cke_rcombo .cke_text {
    background-color: #FFFFFF;
    border: 1px inset threedface;
    border-right: none;
    cursor: default;
    display: inline-block;
    height: 16px;
    padding: 2px 5px;
    vertical-align: top;
    width: 100px;
}

.cke_skin_beehive .cke_browser_iequirks .cke_rcombo .cke_text {
    height: 22px;
}

.cke_skin_beehive .cke_rcombo .cke_openbutton {
    border: 1px inset threedface;
    border-left: none;
    display: inline-block;
}

.cke_skin_beehive .cke_rcombo .cke_openbutton .cke_icon {
    background: threedface url(sprites.png) no-repeat 6px 9px;
    display: inline-block;
    height: 20px;
    width: 16px;
}

.cke_skin_beehive .cke_browser_iequirks .cke_rcombo .cke_openbutton .cke_icon {
    height: 20px;
}

.cke_skin_beehive .cke_hc .cke_rcombo .cke_openbutton .cke_icon {
    background: none;
}

.cke_skin_beehive .cke_rcombo .cke_disabled .cke_text {
    color: #fff;
}

.cke_skin_beehive .cke_browser_gecko18 .cke_rcombo,
.cke_skin_beehive .cke_browser_gecko18 .cke_rcombo .cke_label,
.cke_skin_beehive .cke_browser_gecko18 .cke_rcombo .cke_text,
.cke_skin_beehive .cke_browser_gecko18 .cke_rcombo .cke_openbutton,
.cke_skin_beehive .cke_browser_webkit .cke_rcombo .cke_label,
.cke_skin_beehive .cke_browser_webkit .cke_rcombo .cke_text,
.cke_skin_beehive .cke_browser_webkit .cke_rcombo .cke_openbutton {
    display: block;
    float: left;
}

.cke_skin_beehive .cke_path {
    display: inline-block;
    float: left;
    padding: 0 3px;
}

.cke_skin_beehive .cke_path a,
.cke_skin_beehive .cke_path .cke_empty {
    border: 1px solid transparent;
    cursor: default;
    display: inline-block;
    float: left;
    font-size: 11px;
    margin: 3px 0 0;
    padding: 2px 4px;
}

.cke_skin_beehive .cke_path .cke_empty {
    visibility: hidden;
}

.cke_skin_beehive .cke_path a:hover,
.cke_skin_beehive .cke_path a:focus,
.cke_skin_beehive .cke_path a:active {
    background-color: #dff1ff;
    border: solid 1px #316ac5;
    outline: none;
}

.cke_skin_beehive .cke_path .cke_label {
    display: none;
}

.cke_skin_beehive .cke_button .cke_on {
    border: 1px inset threedface;
}

.cke_skin_beehive .cke_button_bold .cke_icon {
    background-position: -2px -1px;
}

.cke_skin_beehive .cke_button_italic .cke_icon {
    background-position: -24px -1px;
}

.cke_skin_beehive .cke_button_underline .cke_icon {
    background-position: -46px -1px;
}

.cke_skin_beehive .cke_button_strike .cke_icon {
    background-position: -68px -1px;
}

.cke_skin_beehive .cke_button_superscript .cke_icon {
    background-position: -90px -1px;
}

.cke_skin_beehive .cke_button_subscript .cke_icon {
    background-position: -112px -1px;
}

.cke_skin_beehive .cke_button_justifyleft .cke_icon {
    background-position: -136px -1px;
}

.cke_skin_beehive .cke_button_justifycenter .cke_icon {
    background-position: -156px -1px;
}

.cke_skin_beehive .cke_button_justifyright .cke_icon {
    background-position: -178px -1px;
}

.cke_skin_beehive .cke_button_numberedlist .cke_icon {
    background-position: -200px -1px;
}

.cke_skin_beehive .cke_button_bulletedlist .cke_icon {
    background-position: -222px -1px;
}

.cke_skin_beehive .cke_button_indent .cke_icon {
    background-position: -244px -1px;
}

.cke_skin_beehive .cke_button_code .cke_icon {
    background-position: -266px -1px;
}

.cke_skin_beehive .cke_button_quote .cke_icon {
    background-position: -288px -1px;
}

.cke_skin_beehive .cke_button_spoiler .cke_icon {
    background-position: -310px -1px;
}

.cke_skin_beehive .cke_button_horizontalrule .cke_icon {
    background-position: -332px -1px;
}

.cke_skin_beehive .cke_button_image .cke_icon {
    background-position: -354px -1px;
}

.cke_skin_beehive .cke_button_flash .cke_icon {
    background-position: -398px -1px;
}

.cke_skin_beehive .cke_button_link .cke_icon {
    background-position: -420px -1px;
}

.cke_skin_beehive .cke_button_textcolor .cke_icon {
    background-position: -508px -1px;
}

.cke_skin_beehive .cke_button_cut .cke_icon {
    background-position: -530px -1px;
}

.cke_skin_beehive .cke_button_copy .cke_icon {
    background-position: -552px -1px;
}

.cke_skin_beehive .cke_button_paste .cke_icon {
    background-position: -574px -1px;
}

.cke_skin_beehive .cke_button_source .cke_icon {
    background-position: -596px -1px;
}

.cke_skin_beehive .cke_font_panel {
    height: 170px;
    width: 150px;
}

.cke_skin_beehive .cke_fontSize_panel {
    height: 170px;
}

.cke_skin_beehive .cke_fontSize .cke_text {
    width: 40px;
}

html .cke_skin_beehive {
    visibility: inherit;
}