body {
    font-size: 8pt;
}

h1 {
    font-size: 10pt;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 10pt;
}

h6 {
    font-size: 8pt;
}

p {
    font-size: 10pt;
}

.ac_results li {
    font-size: 10pt;
}

.activeusers {
    font-size: 8pt;
}

.admin_settings_text {
    font-size: 9pt;
}

.adminipdisplay {
    font-size: 9pt;
}

.approved_text {
    font-size: 9pt;
}

.bhinputcheckbox, .bhinputradio {
    font-size: 9pt;
}

.bhinputtext, .bhtextarea, .bhselect, .install_input,
.bhinputlogon, .bhlogondropdown, .register_dropdown,
.search_dropdown, .banned_dropdown, .links_dropdown,
.timezone_dropdown, .admin_tools_textarea,
.dictionary_word_display, .dictionary_best_selection,
.dictionary_change_to, .post_folder_dropdown, .thread_title,
.post_content, .signature_content, .edit_signature_content,
.friends_dropdown, .recipient_dropdown, .recent_user_dropdown,
.admin_options_dropdown, .user_in_thread_dropdown,
.user_pref_field, .bhinputprofileitem, .text_captcha_input,
.user_pref_dob_dropdown, .user_pref_dropdown {
    font-size: 10pt;
}

.bhlightinput {
    font-size: 10pt;
}

.bhselectoptgroup {
    font-size: 10pt;
}

.button, .dictionary_button {
    font-size: 9pt;
    padding: 0 0 1px;
}

a.button {
    display: inline-block;
    font-size: 9pt;
    margin: 0;
    padding: 1px 6px 3px;
    vertical-align: top;
}

.button_disabled {
    font-size: 9pt;
}

.code {
    font-size: 10pt;
}

.edit_text {
    font-size: 9pt;
}

.error_handler_details {
    font-size: 10pt;
}

.error_handler_details pre {
    font-size: 10pt;
}

.error_msg {
    font-size: 10pt;
}

.folderinfo {
    font-size: 8pt;
}

.foldername {
    font-size: 10pt;
}

.folderpostnew {
    font-size: 8pt;
}

.forum_rules_box {
    font-size: 10pt;
}

.forumlinks {
    font-family: verdana, arial, helvetica, sans-serif;
}

.google_adsense_register_note {
    font-size: 8pt;
}

.image_resize_text {
    font-size: 9pt;
}

.merge_thread_id {
    font-size: 10pt;
}

.messagefoot {
    font-size: 10pt;
}

.navpage {
    font-size: 0.6em;
}

.pagenum_text {
    font-size: 9pt;
}

.pm_message_count {
    font-size: 9pt;
}

.pmbar_text {
    font-size: 9pt;
}

.pmnewcount {
    font-size: 9pt;
}

.post_to_others {
    font-size: 10pt;
}

.postbody {
    font-size: 10pt;
}

.posthead {
    font-size: 10pt;
}

.postinfo {
    font-size: 10pt;
}

.postnumber {
    font-size: 10pt;
}

.postresponse {
    font-size: 10pt;
}

.posttofrom {
    font-size: 10pt;
}

.posttofromlabel {
    font-size: 10pt;
}

.profile_item_name {
    font-size: 10pt;
}

.profile_item_value {
    font-size: 10pt;
}

.profile_item_value a {
    font-size: 10pt;
}

.profile_logon {
    font-size: 10pt;
}

.quotetext {
    font-size: 10pt;
}

.search_input {
    font-size: 10pt;
}

.small_optional_text {
    font-size: 8pt;
}

.smallbutton {
    font-size: 9pt;
}

.smalltext {
    font-size: 9pt;
}

.spellcheckbodytext {
    font-size: 10pt;
}

.subhead {
    font-size: 10pt;
}

.subhead_checkbox {
    font-size: 10pt;
}

.subhead_sort_asc {
    font-size: 10pt;
}

.subhead_sort_desc {
    font-size: 10pt;
}

.success_msg {
    font-size: 10pt;
}

.thread_list_mode {
    font-size: 10pt;
}

.threadname {
    font-size: 10pt;
}

.threads {
    font-size: 10pt;
}

.threads_bottom_left {
    font-size: 10pt;
}

.threads_bottom_right {
    font-size: 10pt;
}

.threads_left {
    font-size: 10pt;
}

.threads_left_right {
    font-size: 10pt;
}

.threads_left_right_bottom {
    font-size: 10pt;
}

.threads_right {
    font-size: 10pt;
}

.threads_top_left {
    font-size: 10pt;
}

.threads_top_left_bottom {
    font-size: 10pt;
}

.threads_top_right {
    font-size: 10pt;
}

.threads_top_right_bottom {
    font-size: 10pt;
}

.threadtime {
    font-size: 8pt;
}

.threadxnewofy {
    font-size: 8pt;
}

.warning_msg {
    font-size: 10pt;
}