body {
    background-color: #24374A;
    margin: 0;
    position: relative;
}

div.beehive-logo {
    background-color: #568000;
    height: 60px;
    position: absolute;
    width: 350px;
}

div.beehive-logo a {
    display: block;
    height: 60px;
    text-indent: -9999px;
    width: 350px;
}